html{
    text-align: center;
    scroll-behavior:center;
}

p
{
   color:red;
  font-size:20px;
  padding:20px;
}
h1
{
  color:blue;
  font-size:25px;
}

#About
{
    background-color: aqua;
}
.line
{
    width: 2px;
    height: 6px;
  }
  
#myNavbar
{
    display: inline;
    position: sticky;
    top: 0;
    z-index: 9;
    background-color: yellow;
    color: red;
}
#myemail
{
  font-size: 24px;
  margin-left: 30px;
}